<a href="https://colab.research.google.com/github/ubaidullohfathurrosyid-lang/pmograman-dasar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
#cara mengakses elemen dalam variabel list
numbers [0] #23
numbers [1] #43
numbers [2] #15
numbers [3] #34
#cara mengubah nilai elemen dalam variabel list
numbers [2] #51
numbers [2] #51

print (numbers[1])
print (numbers[2])
print (numbers[3])

43
15
34

In [13]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

#menambahkan elemen di indeks ke-4
numbers.insert(4,5)  #[1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers [3] = 4  #[1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)  #[1, 2, 4]

#print lalu lihat hasilya

3

In [14]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])

print(x[1:])

print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [17]:
x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [19]:
x= (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [20]:
x = (5, 'program', 1+35)

x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [23]:
#deklarasi variabel tuple

numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple

numbers [0] #23

numbers [1] #43

numbers [2] #15

#lakukan print lalu amati hasilnya

15

In [29]:
# deklarasi variabel set a dan b
 a = {1, 2, 3}
 b = {2, 3, 4}

#operasi gabungan
a.union(b) #{1, 2, 3, 4}

#operasi irisan
a.intersection(b) # {2, 3}

#operasi perbedaan
S
a.symmetric_difference(b) #{1,4}

#lakukan print dan lihat hasilnya

{1, 4}

TUGAS PERTEMUAN 2

no.1

In [35]:
#TODO:
firstname = 'Ubaidulloh'
lastname = 'Fathurrosyid'
age = 22
student = False

print("firstname:", firstname)
print("lastname:", lastname)
print("age:", age)
print("student", student)

firstname: Ubaidulloh
lastname: Fathurrosyid
age: 22
student False

no.2

In [37]:
# TODO
data_diri = {'firstname':'Ubaidulloh','lastname':'Fathurrisyid','age':'20','student':False}

print(data_diri)

{'firstname': 'Ubaidulloh', 'lastname': 'Fathurrisyid', 'age': '20', 'student': False}

no.3

In [39]:
inspeksi = ["pemahaman terhadap rencana dan desain", "ketersediaan bahan dan peralatan", "pengawasan pekerjaan",

print("daftar inspeksi proyek:")

for i in range(len(inspeksi)):

print(f"(1+1). (inspeksi[1]1")

SyntaxError: '[' was never closed (ipython-input-926013933.py, line 1)

no.4

In [44]:
#waktu datang
startime = {"HH": 9, "mm": 23, "ss": 57}

# waktu pulang
endtime = {"HH": 15, "mm": 25, "ss": 43}

print("waktu datang :", startime)
print("waktu pulang:", endtime)

waktu datang : {'HH': 9, 'mm': 23, 'ss': 57}
waktu pulang: {'HH': 15, 'mm': 25, 'ss': 43}

no.5

In [45]:
# STUDI KELAS : PENGGABUNGAN DAN ANALISIS KATALOG PRODUK
katalog_A = {"oli", "ban", "lampu motor", "kampas rem"}
katalog_B = {"piston", "oli", "ban", "bearing"}

produk_diskon = ("oli", "ban", "noken as")

# gabungkan katalog_A dan katalog_B menjadi satu set unik
katalog_lengkap = katalog_A.union(katalog_B)

# cari produk mana saja dari katalog_lengkap dan produk_diskon
produk_promo_aktif = katalog_lengkap.intersection(set(produk_diskon))

# tampilkan hasil
print("katalog lengkap:", katalog_lengkap)
print("produk diskon:", produk_diskon)
print("produk promo aktif:", produk_promo_aktif)

katalog lengkap: {'bearing', 'kampas rem', 'ban', 'lampu motor', 'oli', 'piston'}
produk diskon: ('oli', 'ban', 'noken as')
produk promo aktif: {'oli', 'ban'}